web/core
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries
web/sites/default/files/*
web/sites/*/*.local.php*
web/sites/development.services.yml
web/sites/sites.php
vendor
*.sql
*.gz
*.log
*.swp
.vscode
.idea
/.editorconfig
/.gitattributes